.panel {
  z-index: 100;
  color: $almost-black;

  .panel-title {
    height: 5rem;
    line-height: 5rem;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .panel-stepper {
    height: 3rem;
    .steps-container {
      width: 100%;
      .step {
        z-index: -1;
        flex: 1;
        text-align: center;
        color: $white;
        position: relative;

        @include getStepNums(3);

        .circle-container {
          height: 2rem;
          width: 2rem;
          line-height: 1.8rem;
          background-color: $steel-gray;
          border: 1px solid $steel-gray;
          border-radius: 50%;
          color: white;
          margin: 0 auto;
        }

        &.checked {
          .circle-container {
            background-color: $almost-black;
            border-color: $almost-black;
            color: $white;
          }
        }

        &.active {
          .circle-container {
            background-color: $white;
            border-color: $almost-black;
            color: $almost-black;
          }
        }

        &.checked .circle-container::after {
          content: "\2714";
        }
      }
      .connect-line {
        position: absolute;
        display: block;
        top: 1rem;
        right: calc(50% + 2rem);
        left: calc(-50% + 2rem);
        height: 2px;
        background-color: $light-gray;
      }
      .label-container {
        display: none;
      }
    }
  }

    input {
      @extend %input-style;
      &[type="radio"] {
        -webkit-appearance: none; /* Safari and Chrome */
        border-radius: 50%;
        margin-top: 10px;
        padding: 12px;
        cursor: pointer;
        ~ label {
          display: inline-block;
          font-weight: normal;
          //padding: 20px;
        }
        &:hover {
          border-color: $dark-gray;
        }
        &:checked {
          box-shadow: inset 0px 0px 0px 7px black;
        }
      }
      &[type="text"] {
        cursor: pointer;
        width: 100%;
        &:invalid {
          color: $koala-gray;
        }
      }
      &[type="number"] {
        width: 100%;
      }
    }
    .select-wrapper {
      position: relative;
      z-index: 0;
      &::after {
        content: "\25BE";
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        z-index: -1;
      }
    }
    select {
      @extend %input-style;
      width: 100%;
      -webkit-appearance: none;
      cursor: pointer;
      background-color: transparent;
      &:invalid {
        color: $koala-gray;
      }
    }

    .form-group {
      display: grid;
      grid-template-columns: repeat (6, 1fr);
      grid-gap: 1em;
    }
    .prefix {
      grid-column: 1 / 3;
    }
    .name {
      grid-column: 3 / 7;
    }
    .card-holder,
    .card-number {
      grid-column: 1 / 7;
    }
    .valid {
      grid-column: 1 / 4;
    }
    .cvc-ccv {
      grid-column: 4 / 7;
    }
    .form-row {
      margin-bottom: 24px;
      > label {
        display: block;
        margin-bottom: 6px;
        font-weight: 500;
      }
    }
  

  .panel-form {
    .form-content {
      .form-part-title {
        height: 5rem;
        line-height: 5rem;
        font-size: 1.8rem;
        font-weight: 700;
      }
      .shippings-wrapper {
        .shippings {
          display: grid;
          //grid-gap: 1px;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(2, 1fr);
          border: 1px solid $almost-black;
          border-radius: 0.25rem;
          margin: 5% 0;
          //width: 95%;
          padding: 0.8rem 3rem;
          justify-self: center;
        }

        .shipping-radio {
          grid-column: 1 / 2;
          grid-row: 1 / 3;
        }

        .shipping {
          grid-column: 2 / 6;
          grid-row: 1 / 2;
        }

        .shipping-details {
          grid-column: 2 / 6;
          grid-row: 2 / 3;
        }

        .shipping-cost {
          grid-column: 6 / 7;
          grid-row: 1 / 2;
        }
      }
    }
  }

  .panel-cart {
    height: 100%;

    .cart {
      display: grid;
      grid-template-rows: 70% 30%;
      padding-top: 1rem;
      border: 1px solid $sky-gray;
      border-radius: 0.5rem;
      height: 95%;

      .cart-title {
        display: none;
        padding-left: 1rem;
      }
      .cart-items {
        grid-row: 1 / 2;
        .cart-item {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          //grid-gap: 1px;
          height: 8rem;
          padding-top: 1px;

          .item-image {
            grid-column: 1 / 2;
            grid-row: 1 / 4;
            padding: 0.5rem 0 0.5rem 1rem;
            height: 8rem;
            width: 8rem;
            justify-self: center;
          }

          .item-name,
          .item-counter,
          .item-price {
            grid-column: 2 / 4;
            justify-self: end;
            padding-top: 1%;
            padding-right: 10%;
          }

          .item-name {
            grid-row: 1 / 2;
          }

          .item-counter {
            grid-row: 2 / 3;
            width: 100%;
            font-weight: bold;
            display: flex;
            justify-content: end;
          }

          .item-price {
            grid-row: 3 / 4;
            font-weight: bold;
          }

          .item-minus,
          .item-plus {
            width: 1.7rem;
            height: 1.7rem;
            line-height: 1.5rem;
            margin-left: 1rem;
            background-color: $light-gray;
            border-radius: 50%;
            text-align: center;
            font-size: 1.3rem;
          }

          .item-number {
            width: 2rem;
            height: 1.5rem;
            line-height: 1.5rem;
            margin-left: 1rem;
            text-align: center;
          }
        }
      }
      .cart-checkout {
        grid-row: 2 / 3;
        .checkout {
          border-top: 1px solid $light-gray;
          height: 5rem;
          width: 90%;
          padding: 3% 5%;

          .checkout-shippingfee {
            font-weight: bold;
          }
          .checkout-sum-end {
            font-weight: bold;
          }
        }
      }
    }
  }
  .panel-buttons {
    border-top: 1px solid $light-gray;
    margin-top: 2rem;
  }

  .panel-button {
    flex: 1;
    margin: 2rem 0;
  }

  .button-back {
    @include BtnStyle($white, $black);
  }

  .button-next {
    @include BtnStyle($fashion-pink, $white);
  }
}
////////////******電腦版******////////////

.panel {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "title . ."
      "stepper . cart"
      "form . cart"
      "form . cart"
      "form . cart"
      "button . cart";

    .panel-title {
      grid-area: title;
    }
    .panel-stepper {
      grid-area: stepper;

      .step {
        position: relative;

        .circle-container {
          position: absolute;
          left: -0.5rem;
        }

        .connect-line {
          position: absolute;
          display: block;
          top: 1rem;
          right: calc(100% + 1rem);
          left: calc(-40% + 1rem);
        }

        .label-container {
          position: absolute;
          display: block;
          top: 0.3rem;
          left: 2.1rem;
          color: $almost-black;
        }
      }
    }
    .panel-form {
      grid-area: form;
      .form-part {
        min-height: 400px;
        .phone {
          grid-column: 1 / 4;
        }
        .email {
          grid-column: 4 / 7;
        }
        .city {
          grid-column: 1 / 3;
        }
        .address {
          grid-column: 3 / 7;
        }
        .card-holder,
        .card-number {
          grid-column: 1 / 5;
        }
      }
    }

    .panel-cart {
      grid-area: cart;
      .cart {
        grid-template-rows: 10% 60% 30%;
        .cart-title {
          display: block;
          grid-row: 1 / 2;
          padding-left: 5%;
          font-size: 20px;
          font-weight: bold;
        }
        .cart-items {
          grid-row: 2 / 3;
          .cart-item {
            display: grid;
            grid-template-columns: 1fr 2.5fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            height: 8rem;
            padding-top: 1px;

            .item-image {
              grid-column: 1 / 2;
              grid-row: 1 / 4;
              padding: 0.5rem 0 0.5rem 1rem;
              height: 8rem;
              width: 8rem;
              justify-self: center;
            }

            .item-name {
              grid-column: 2 / 3;
              grid-row: 1 / 2;
              padding-left: 1rem;
              justify-self: left;
            }
            .item-counter {
              grid-column: 2 / 3;
              grid-row: 2 / 3;
              display: flex;
              justify-content: start;
            }

            .item-price {
              grid-column: 3 / 4;
              grid-row: 1 / 2;
              justify-self: left;
            }

            .item-minus,
            .item-plus {
              width: 1.7rem;
              height: 1.7rem;
              line-height: 1.5rem;
              margin-left: 1rem;
              background-color: $light-gray;
              border-radius: 50%;
              text-align: center;
              font-size: 1.3rem;
            }

            .item-number {
              width: 2rem;
              height: 1.5rem;
              line-height: 1.5rem;
              margin-left: 1rem;
              text-align: center;
            }
          }
        }
        .cart-checkout {
          grid-row: 3 / 4;
          .checkout {
            border-top: 1px solid $light-gray;
            height: 5rem;
            width: 90%;
            padding: 3% 1%;

            .checkout-shippingfee {
              font-weight: bold;
            }
            .checkout-sum-end {
              font-weight: bold;
            }
          }
        }
      }
    }
    .panel-buttons {
      grid-area: button;
      display: grid;
      grid-template-columns: 1fr 0.5fr 1fr;
      grid-template-areas: "button-back . button-next";

      .button-back {
        grid-area: button-back;
      }
      .button-next {
        grid-area: button-next;
      }
    }
  }